@import '~normalize.css';

.container {
    min-height: 600px;
    padding-top: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.textarea {
    margin: auto;
    display: block;
}
.key-block {
    width: 1050px;
    margin: 30px auto;
    border: 3px solid #2f252a;
}
.key-row {
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #2f252a;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

.button-Backspacekey, .button-CapsLockkey, .button-Enterkey, .button-Shiftkey {
    width: 114px;
}

.button-Spacekey {
    width: 434px;
}